#login #logo {
	width: 20rem;
    margin-bottom: 2rem;
}
#login h1 {
    font-weight: 300;
    font-size: 4rem;
    text-align: center;
}

#login {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: -70px
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
