<div id='login'>
    <div class="middle">
        <div class="inner">
            <h1 class="center-block">Katalogo</h1>
            <button id="facebook-login" class="btn btn-large btn-facebook center-block"><i class="fa fa-facebook "></i> | Sign in with Facebook</button>
    </div>
  </div>
</div>
