#create-release  {
	display: none;
	vertical-align: baseline;
}
#update-release  {
	display: none;
}
#create-another-container  {
	display: none;
}
#create-another-label {
	margin-left: 30px;
	vertical-align: middle;
}

#edit-release form {
    margin-bottom: 20px;
}
