<div id='edit-release'>
    <h3>{{pageTitle}}</h3>
    <form>
        <div class='row'>
            <div class='col-md-8'>

                    <input type="hidden" id="release-id" value="{{_id}}" />
                    <label for="catalog-number">Catalog Number</label>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="catalog-number" aria-describedby="catalog-number-help" placeholder="E.g. Stumm 64" value="{{catalogNumber}}">
                            <div class="input-group-btn">
                                <button id="search-release" class="btn btn-default" type="button">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="artist">Artist Name</label>
                        <input type="text" class="form-control" id="artist" aria-describedby="artist-help" placeholder="E.g. Depeche Mode" value="{{artist}}">
                    </div>
                    <div class="form-group">
                        <label for="title">Release Title</label>
                        <input type="text" class="form-control" id="title" placeholder="E.g. Violator" value="{{title}}">
                    </div>
                    <div class="form-group">
                        <label for="year">Release Year</label>
                        <input type="number" class="form-control" id="year" placeholder="E.g. 1990" value="{{year}}">
                    </div>
                    <div class="form-group">
                        <label for="genre">Genre</label>
                        <input type="text" class="form-control" id="genre" placeholder="E.g. Synth-pop" value="{{genre}}">
                    </div>
                    <div class="form-group">
                        <label class="radio-inline"><input id="vinyl12-radio" type="radio" name="format" value='12" Vinyl' {{{setChecked '12" Vinyl' format}}}>12" Vinyl</label>
                        <label class="radio-inline"><input id="vinyl10-radio" type="radio" name="format" value='10" Vinyl' {{{setChecked '10" Vinyl' format}}}>10" Vinyl</label>
                        <label class="radio-inline"><input id="vinyl7-radio" type="radio" name="format" value='7" Vinyl' {{{setChecked '7" Vinyl' format}}}>7" Vinyl</label>
                        <label class="radio-inline"><input id="cd-radio" type="radio" name="format" value="CD" {{{setChecked 'CD' format}}}>CD</label>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline"><input id="album-radio" type="radio" name="type" value="Album" {{{setChecked 'Album' type}}}>Album</label>
                        <label class="radio-inline"><input id="compilation-radio" type="radio" name="type" value="Compilation" {{{setChecked 'Compilation' type}}}>Compilation</label>
                        <label class="radio-inline"><input id="ep-radio" type="radio" name="type" value="EP" {{{setChecked 'EP' type}}}>EP</label>
                        <label class="radio-inline"><input id="single-radio" type="radio" name="type" value="Single" {{{setChecked 'Single' type}}}>Single</label>
                    </div>
                    <button id="create-release" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create</button>
                    <button id="update-release" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                    <div id="create-another-container"><label id="create-another-label"><input id="create-another" type="checkbox"> Create another</label></div>

            </div>
            <div class='col-md-4'>
                <select id='release-image-picker' name="imageurl" class="image-picker"></select>
            </div>
        </div>
    </form>
</div>
