@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

@import url("reset.css");
@import url("font-awesome.min.css");
@import url("image-picker.css");
@import url("social-buttons.css");
@import url("../../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("../header/header.css");
@import url("../main/main.css");

body {
    background-color: #151515;
    color: #c5c5c5;
    padding-top: 70px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

.vertical-center {
    display: flex;
    align-items: center;
}

label {
    font-weight: 300;
}

.btn-default {
    background-color: #ccc
}

.h3, h3 {
    font-size: 2.5rem;
    font-weight: 300;
}

.form-control {
    color: #000;
    font-weight: 400;
}
