@import url("../primary-btn/primary-btn.css");

#header {
    margin-bottom: 1rem;
}

#header .navbar-brand {
    padding-top: 20px;
    font-size: 4rem;
}
#header .navbar-toggle {
    margin-top: 2rem;
}

#header ul {
    height: 7rem;
}

#header img {
    height: 4rem;
}

#header .navbar-nav {
    font-size: 1.5rem;
}

#new-release-btn {
    margin: 0;
    display: inline-block;
}

.vertical-align {
    display: flex;
    align-items: center;
}
