<div class="top-10">
    <h3>{{title}}</h3>
    <table>
        {{#each entries}}
        <tr>
            <td>{{_id}}</td>
            <td>{{count}}</td>
        </tr>
        {{/each}}
    </table>
</div>
