<div class='row'>
    <div class="col-sm-6">
        <label for="filterBy">Filter by</label>
        <select class="form-control" id="filterBy">
            <option value="" {{{setSelected '' filterBy}}}>Anything</option>
            <option value="artist" {{{setSelected 'artist' filter.filterBy}}}>Artist Name</option>
            <option value="genre" {{{setSelected 'genre' filter.filterBy}}}>Genre</option>
            <option value="title" {{{setSelected 'title' filter.filterBy}}}>Release Title</option>
            <option value="year" {{{setSelected 'year' filter.filterBy}}}>Release Year</option>
        </select>
    </div>
    <div class="col-sm-6">
        <label for="filterKeyword">Keyword</label>
        <input type="text" class="form-control" id="filterKeyword" value="{{filter.keyword}}" />
    </div>
</div>
