<div id='list-release'>
    <h3>Releases</h3>
    <div id='list-release-filter'></div>
    <div id='list-release-releases'></div>
</div>

<!-- Modal -->
<div class="modal fade" id="actionsModal" tabindex="-1" role="dialog" aria-labelledby="actionsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="actionsModalLabel"></h4>
            </div>
            <div class="modal-body">
                <button id="edit-release" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                <button id="delete-release" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
