#list-release .lead {
	margin-bottom: 0;
    font-size: 1.8rem
}

#list-release .glyphicon {
    font-size: 2rem;
}

#list-release table {
    margin-top: 1rem;
    width: 100%
}

#list-release .compact {
    width: 46px;
    display: none;
    vertical-align: top;
}

#list-release .wide {
    width: 101px;
    vertical-align: top;
}

#list-release .release-image {
    width: 100px;
    margin-bottom: 5px;
}

#list-release .image-cell {
    width: 110px;
}

#list-release .detail-cell {
    vertical-align: top;
}


.delete-button {
    margin-left: 5px;
}

@media only screen and (max-width: 1025px) {
    #list-release .compact {
        display: table-cell;
    }

    #list-release .wide {
        display: none;
    }
}



#list-release .form-control {
    margin-bottom: 1rem;
}

#actionsModal .modal-content {
    background-color: #333;
}

#actionsModal .close {
    color: #e6e6e6;
    text-shadow: 2px 2px 2px #000;
    filter: alpha(opacity=90);
    opacity: 0.9;
}
#actionsModal .modal-header {
    border-bottom: none;
}
#actionsModal .modal-header {
    border-top: 1px solid #454545;
}
