<table>
    {{#each releases}}
    <tr>
        <td class='image-cell'>
            <img class='release-image' src='/api/release/image/{{_id}}'/>
        </td>
        <td class='detail-cell'>
            <div class='lead'>{{artist}} - {{title}}</div>
            <div class='suplimental'>{{#if catalogNumber}} {{catalogNumber}}{{/if}}{{#if format}}, {{format}}{{/if}}{{#if type}}, {{type}}{{/if}}{{#if year}}, {{year}}{{/if}}{{#if genre}}, {{genre}}{{/if}}</div>
        </td>
        <td class='compact'>
                <button class="btn btn-primary" aria-label="actions" data-toggle="modal" data-target="#actionsModal" data-release-id='{{_id}}' data-artist='{{artist}}' data-title='{{title}}'>
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                    <span class="sr-only">Actions</span>
                </button>
        </td>
        <td class='wide'>
            <button type="button" class="btn btn-primary edit-button" data-release-id='{{_id}}'><span class="glyphicon glyphicon-pencil"></span><span class="sr-only"> Edit</span></button>
            <button type="button" class="btn btn-danger delete-button" data-release-id='{{_id}}'><span class="glyphicon glyphicon-trash"></span><span class="sr-only"> Delete</span></button>
        </td>

    </tr>
    {{/each}}
</table>
