.primary-btn {
  background: #e63737;
  background-image: -webkit-linear-gradient(top, #e63737, #a62828);
  background-image: -moz-linear-gradient(top, #e63737, #a62828);
  background-image: -ms-linear-gradient(top, #e63737, #a62828);
  background-image: -o-linear-gradient(top, #e63737, #a62828);
  background-image: linear-gradient(to bottom, #e63737, #a62828);
  -webkit-border-radius: 31;
  -moz-border-radius: 31;
  border-radius: 31px;
  text-shadow: 0px 1px 3px #000000;
  -webkit-box-shadow: 0px 1px 3px #000000;
  -moz-box-shadow: 0px 1px 3px #000000;
  box-shadow: 0px 1px 3px #000000;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.primary-btn:hover {
  background: #fa3c3c;
  background-image: -webkit-linear-gradient(top, #fa3c3c, #c73030);
  background-image: -moz-linear-gradient(top, #fa3c3c, #c73030);
  background-image: -ms-linear-gradient(top, #fa3c3c, #c73030);
  background-image: -o-linear-gradient(top, #fa3c3c, #c73030);
  background-image: linear-gradient(to bottom, #fa3c3c, #c73030);
  text-decoration: none;
}