<div class='container-fluid'>
    <div class="row">
        <div id="leftPanel" class="col-sm-3">
            <div class='row'>
                <div id='artist-top-10' class='col-xs-4 col-sm-12'></div>
                <div id='genre-top-10' class='col-xs-4 col-sm-12'></div>
                <div id='format-top-10' class='col-xs-4 col-sm-12'></div>
            </div>
        </div>
        <div id="content" class="col-sm-9"></div>
    </div>
</div>
